<header
    class="full-width-gridless content-grid pointer-events-none relative z-50 row-start-1 row-end-2 flex flex-initial py-10 2xl:sticky 2xl:top-0 2xl:justify-between 2xl:px-10">
    <div
        class="2xl:!content-gap-left pointer-events-auto flex flex-initial flex-col gap-8 2xl:flex-col 2xl:justify-between 2xl:gap-6">
        <a href="/" class="flex flex-wrap font-display text-2xl">
            {{ .Site.Title }}
        </a>
        <!-- main navbar -->
        <ul
            id="nav-menu"
            class="navbar-nav order-3 flex gap-4 text-accent-foreground 2xl:flex-col 2xl:gap-3">
            {{ $currentPage := . }}
            {{ range site.Menus.main }}
                {{ $menuURL := .URL | absLangURL }}
                {{ $pageURL:= $currentPage.Permalink | absLangURL }}
                {{ $active := eq $menuURL $pageURL }}
                {{ if .HasChildren }}
                    <li class="nav-item nav-dropdown group relative">
                        <span
                            class="nav-link {{ range .Children }}
                                {{ $childURL := .URL | absLangURL }}
                                {{ $active := eq $childURL $pageURL }}
                                {{ if $active }}active{{ end }}
                            {{ end }} inline-flex items-center">
                            {{ .Name }}
                            <svg
                                class="h-4 w-4 fill-current"
                                viewBox="0 0 20 20">
                                <path
                                    d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                            </svg>
                        </span>
                        <ul
                            class="nav-dropdown-list invisible opacity-0 group-hover:visible group-hover:opacity-100">
                            {{ range .Children }}
                                {{ $childURL := .URL | absLangURL }}
                                {{ $active := eq $childURL $pageURL }}
                                <li class="nav-dropdown-item">
                                    <a
                                        class="nav-dropdown-link {{ if $active }}
                                            active
                                        {{- end -}}"
                                        {{ if findRE `^http` .URL }}
                                            target="_blank" rel="noopener"
                                        {{ end }}
                                        href="{{- if findRE `^#` .URL -}}
                                            {{- if not $.IsHome -}}
                                                {{- site.Home.RelPermalink -}}
                                            {{- end }}
                                            {{- .URL -}}
                                        {{- else -}}
                                            {{- .URL | relLangURL -}}
                                        {{- end -}}">
                                        {{ .Name }}
                                    </a>
                                </li>
                            {{ end }}
                        </ul>
                    </li>
                {{ else }}
                    <li class="nav-item w-fit [&:hover_.underliner]:w-full">
                        <a
                            class="nav-link {{ if $active }}
                                active
                            {{- end -}}"
                            {{ if findRE `^http` .URL }}
                                target="_blank" rel="noopener"
                            {{ end }}
                            href="{{- if findRE `^#` .URL -}}
                                {{- if not $.IsHome -}}
                                    {{- site.Home.RelPermalink -}}
                                {{- end }}{{- .URL -}}
                            {{- else -}}
                                {{- .URL | relLangURL -}}
                            {{- end -}}"
                            >{{ .Name }}</a
                        >
                        <div class="relative h-[2px] w-full">
                            <div
                                class="underliner absolute h-full w-0 bg-accent transition-all"></div>
                        </div>
                    </li>
                {{ end }}
            {{ end }}
            {{ if site.Params.navigation_button.enable }}
                <li class="mt-4 inline-block 2xl:hidden">
                    <a
                        class="btn btn-outline-primary btn-sm"
                        href="{{ site.Params.navigation_button.link | relLangURL }}">
                        {{ site.Params.navigation_button.label }}
                    </a>
                </li>
            {{ end }}
        </ul>
    </div>
    <div
        class="2xl:!content-gap-right pointer-events-auto flex flex-col items-end gap-4">
        <div class="mt-4 w-fit self-end text-right">
            <button id="theme-switch" class="font-display italic">
                <span>
                    <span class="[.dark_&]:hidden">Give in to darkness</span>
                    <span class="hidden [.dark_&]:inline-block"
                        >Lead me to light</span
                    >
                </span>
            </button>
        </div>
        <div class="w-fit self-end text-right 2xl:hidden">
            <button id="connect-menu-switch" class="font-display italic">
                connect
            </button>
            <script>
                document
                    .querySelector("#connect-menu-switch")
                    .addEventListener("click", (e) => {
                        const btn = e.target;
                        document
                            .querySelector("#connect-menu")
                            .classList.toggle("open");
                    });
            </script>
        </div>
        <noscript>
            {{ partial "components/contact_bullets" . }}
        </noscript>
        <div id="connect-menu" class="hidden lg:!flex [&.open]:flex">
            {{ partial "components/contact_bullets" . }}
        </div>
    </div>
</header>
