<a
    {{ if not .RelPermalink }}
        target="_blank"
    {{ end }}
    href="{{ or .Params.Url .RelPermalink }}"
    class="group relative flex w-full select-none ease-in-out lg:ml-10">
    <div
        class="absolute -z-10 h-full w-5 -translate-x-5 translate-y-4 bg-accent bg-opacity-70 transition-all duration-500 ease-in-out group-hover:w-[calc(100%+0px)] group-hover:translate-x-0"></div>

    <div
        class="flex w-full flex-1 flex-col border-y border-primary bg-background bg-opacity-75 transition-all ease-in-out group-hover:translate-y-2 lg:flex-row lg:group-hover:-translate-x-2">
        <div
            class="flex max-h-40 min-h-40 min-w-20 flex-shrink-0 items-center justify-center bg-secondary opacity-80 lg:aspect-square lg:max-h-fit lg:w-40">
            <img
                src="{{ .Params.Thumbnail }}"
                class="h-full w-full object-cover object-center"
                alt="Project Thumbnail" />
        </div>
        <div class="flex h-fit w-full select-text flex-col p-5">
            <div class="flex flex-col justify-between gap-2">
                <div>
                    <span class="font-display text-subheading text-accent">
                        {{ or .Title }}
                    </span>
                    {{ .Content | safeHTML }}
                </div>
                <div
                    class="flex flex-col justify-between text-body lg:flex-row">
                    <div class="text-start">
                        <span class="text-wrap underline">
                            {{ .Params.Url }}
                        </span>
                    </div>
                    {{ if isset .Params "Tags" -}}
                        <ul class="flex flex-wrap gap-2 py-2 text-accent">
                            {{ range $index, $name := .Params.Tags }}
                                <li>{{ $name }}</li>
                            {{ end }}
                        </ul>
                    {{- end }}
                </div>
            </div>
        </div>
    </div>
</a>
