@keyframes vibrate {
    from {
        margin-left: -20px;
        margin-top: 0px;
    }
    25% {
        margin-left: 0;
        margin-top: -20px;
    }
    50% {
        margin-left: 10px;
        margin-top: 0px;
    }
    75% {
        margin-left: 0px;
        margin-top: 10px;
    }
    to {
        margin-left: -20px;
        margin-top: 0px;
    }

    from {
        margin-left: -20px;
        margin-top: 0px;
    }
    to {
        margin-left: 20px;
        margin-top: 0px;
    }
}

@keyframes wave {
    from {
        transform: rotate(0.25turn);
    }
    100% {
        transform: rotate(0deg);
    }
}

#rocket_figure {
    animation: 6s ease-in-out 0s infinite alternate vibrate;
}

/*
#rocket_figure path[name="arms"] {
    transform-origin: center;
    transform-box: border-box;
    border: 2px;
    border-color:black;
    transform: translate(50px, 100px);
    transform: rotate(90deg);
    animation: 8s ease-in-out 0s infinite alternate wave;
}
*/
