<!doctype html>
<html
    itemscope
    lang="{{ site.LanguageCode | default `en-US` }}"
    itemtype="http://schema.org/WebPage">
    <head>
        {{ partial "essentials/meta.html" . }}

        {{ partialCached "essentials/styles.html" . }}

        {{ if $.Site.Params.katex }}
            {{ partial "essentials/katex.html" . }}
        {{ end }}

        {{ $random_color := resources.Get "js/random_color.js" }}
        <script
            type="module"
            src="{{- $random_color.RelPermalink -}}"
            defer></script>
    </head>

    <body
        class="content-grid dark relative min-h-screen w-full grid-rows-[auto_1fr_auto] place-content-stretch place-items-stretch bg-background font-body text-foreground">
        <header
            class="full-width-gridless content-grid pointer-events-none relative z-50 row-start-1 row-end-2 flex flex-initial py-10 2xl:sticky 2xl:top-0 2xl:justify-between 2xl:px-10">
            <div
                class="2xl:!content-gap-left pointer-events-auto flex flex-initial flex-col gap-8 2xl:flex-col 2xl:justify-between 2xl:gap-6">
                <a href="/" class="flex flex-wrap font-display text-h1">
                    <span>Shashvat</span><span>.dev</span>
                </a>
                <!-- main navbar -->
                <ul
                    id="nav-menu"
                    class="navbar-nav order-3 flex gap-4 text-accent-foreground 2xl:flex-col 2xl:gap-3">
                    {{ $currentPage := . }}
                    {{ range site.Menus.main }}
                        {{ $menuURL := .URL | absLangURL }}
                        {{ $pageURL:= $currentPage.Permalink | absLangURL }}
                        {{ $active := eq $menuURL $pageURL }}
                        {{ if .HasChildren }}
                            <li class="nav-item nav-dropdown group relative">
                                <span
                                    class="nav-link {{ range .Children }}
                                        {{ $childURL := .URL | absLangURL }}
                                        {{ $active := eq $childURL $pageURL }}
                                        {{ if $active }}active{{ end }}
                                    {{ end }} inline-flex items-center">
                                    {{ .Name }}
                                    <svg
                                        class="h-4 w-4 fill-current"
                                        viewBox="0 0 20 20">
                                        <path
                                            d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                                    </svg>
                                </span>
                                <ul
                                    class="nav-dropdown-list invisible opacity-0 group-hover:visible group-hover:opacity-100">
                                    {{ range .Children }}
                                        {{ $childURL := .URL | absLangURL }}
                                        {{ $active := eq $childURL $pageURL }}
                                        <li class="nav-dropdown-item">
                                            <a
                                                class="nav-dropdown-link {{ if $active }}
                                                    active
                                                {{- end -}}"
                                                {{ if findRE `^http` .URL }}
                                                    target="_blank"
                                                    rel="noopener"
                                                {{ end }}
                                                href="{{- if findRE `^#` .URL -}}
                                                    {{- if not $.IsHome -}}
                                                        {{- site.Home.RelPermalink -}}
                                                    {{- end }}
                                                    {{- .URL -}}
                                                {{- else -}}
                                                    {{- .URL | relLangURL -}}
                                                {{- end -}}">
                                                {{ .Name }}
                                            </a>
                                        </li>
                                    {{ end }}
                                </ul>
                            </li>
                        {{ else }}
                            <li class="nav-item w-fit [&:hover_.underliner]:w-full">
                                <a
                                    class="nav-link {{ if $active }}
                                        active
                                    {{- end -}}"
                                    {{ if findRE `^http` .URL }}
                                        target="_blank" rel="noopener"
                                    {{ end }}
                                    href="{{- if findRE `^#` .URL -}}
                                        {{- if not $.IsHome -}}
                                            {{- site.Home.RelPermalink -}}
                                        {{- end }}{{- .URL -}}
                                    {{- else -}}
                                        {{- .URL | relLangURL -}}
                                    {{- end -}}"
                                    >{{ .Name }}</a
                                >
                                <div class="relative h-[2px] w-full">
                                    <div
                                        class="underliner absolute h-full w-0 bg-accent transition-all"></div>
                                </div>
                            </li>
                        {{ end }}
                    {{ end }}
                    {{ if site.Params.navigation_button.enable }}
                        <li class="mt-4 inline-block 2xl:hidden">
                            <a
                                class="btn btn-outline-primary btn-sm"
                                href="{{ site.Params.navigation_button.link | relLangURL }}">
                                {{ site.Params.navigation_button.label }}
                            </a>
                        </li>
                    {{ end }}
                </ul>
            </div>
            <div class="2xl:!content-gap-right hidden flex-col gap-4 2xl:flex">
                <ul
                    id="nav-menu"
                    class="navbar-nav pointer-events-auto order-3 flex gap-4 text-right text-accent-foreground 2xl:flex-col 2xl:gap-3">
                    {{ $currentPage := . }}
                    {{ range site.Params.connect.links }}
                        <li class="nav-item">
                            <a
                                class="nav-link active"
                                target="_blank"
                                rel="noopener"
                                href=""
                                >{{ . }}</a
                            >
                        </li>
                    {{ end }}
                </ul>
            </div>
        </header>
        <main class="full-width relative row-start-2 row-end-3 self-stretch">
            <div class="pb-10 text-justify full-width-gridless content-grid [&_p]:mb-2">
                {{ block "page" . }}
                    <!-- Page Content from page/single.html, _default/<single/list>.html, index.html -->
                {{ end }}
            </div>
        </main>
        <footer
            class="full-width-gridless row-start-3 row-end-4 h-8 2xl:sticky 2xl:bottom-0">
            <div
                class="full-width h-full bg-accent text-accent-foreground transition-colors duration-500"
                style="clip-path: ellipse(50% 80% at 50% 100%)">
                <!--
                <div class="flex h-full items-center justify-center gap-6">
                    <a
                        href="/posts/"
                        class="h-fit text-xl leading-none no-underline">
                        Posts
                    </a>
                </div>
                -->
            </div>
        </footer>
    </body>
</html>
