{{ define "page" }}
    <article class="container">
        <h1>{{ .Title }}</h1>
        {{ .Content | safeHTML }}

        {{ range .Sections }}
            <div class="SectionContainer pb-10">
                <div class="flex justify-between">
                    <h2>{{ .Title }}</h2>
                </div>
                <ul class="flex w-full select-text flex-col gap-10">
                    {{ range .Pages | first 3 }}
                        <li class="flex" draggable="false">
                            {{ $input := (dict "context" . "Params" (dict "Url" .Params.Url "Thumbnail" .Params.Thumbnail "Tags" .Params.Tags) "RelPermalink" .RelPermalink "Title" .Title "Content" .Content ) }}
                            {{ partial "components/project_card" $input }}
                        </li>
                    {{ end }}
                </ul>
                <div class="flex justify-end">
                    <div class="mt-5 flex items-center justify-center">
                        <a
                            href="{{ .RelPermalink }}"
                            class="group flex items-center justify-center gap-5 bg-opacity-50 px-2 transition-all duration-500 hover:bg-accent">
                            <span>See all</span>
                            <span
                                ><svg
                                    width="17"
                                    height="12"
                                    viewBox="0 0 17 12"
                                    fill="none"
                                    class="transtiion-all -translate-x-3 duration-1000 group-hover:-translate-x-1"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_169_1229)">
                                        <path
                                            d="M10.773 12L13.9955 6.62022H0V5.37978H13.982L13.9955 5.4027V5.37978H13.982L10.773 0L16.9483 6.01348L10.773 12Z"
                                            fill="currentColor"></path>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_169_1229">
                                            <rect
                                                width="16.9483"
                                                height="12"
                                                fill="white"></rect>
                                        </clipPath>
                                    </defs></svg></span
                        ></a>
                    </div>
                </div>
            </div>
        {{ end }}
        {{ with .RegularPages }}
            <ul class="flex w-full flex-col gap-10 py-10">
                {{ range . }}
                    <li class="flex">
                        {{ $input := (dict "context" . "Params" (dict "Url" .Params.Url "Thumbnail" .Params.Thumbnail "Tags" .Params.Tags) "RelPermalink" .RelPermalink "Title" .Title "Content" .Content ) }}
                        {{ partial "components/project_card" $input }}
                    </li>
                {{ end }}
            </ul>
        {{ end }}
    </article>
{{ end }}
