{{ define "page" }}
    <div
        id="PostContainer"
        class="full-width-gridless content-grid relative h-full grid-rows-[auto_auto_auto] hyphens-auto break-normal break-words text-left lg:hyphens-none lg:text-justify">
        <div class="content-gap-right relative row-start-1 row-end-4 h-full">
            {{ if strings.Contains .TableOfContents "li" }}
                <div
                    class="sticky top-[14rem] w-full hidden px-4 py-3 text-start 2xl:flex">
                    <div class="bg-background w-full bg-opacity-75 px-4 py-3">
                        <span class="text-subheading">Contents</span>
                        {{ .TableOfContents }}
                    </div>
                </div>
            {{ end }}
        </div>
        <div class="mb-8 flex flex-col gap-10">
            <div class="flex flex-col gap-4">
                <h1>
                    {{ .Title }}
                </h1>
                <p class="text-subheading">
                    {{ .Description | markdownify | safeHTML }}
                </p>
                {{ if strings.Contains .TableOfContents "li" }}
                    <div class="flex flex-col 2xl:hidden">
                        <details class="bg-background bg-opacity-75 px-4 py-3">
                            <summary>
                                <span class="text-subheading">Contents</span>
                            </summary>
                            {{ .TableOfContents }}
                        </details>
                    </div>
                {{ end }}
            </div>
            <div class="flex gap-4">
                <span>{{ .Date | time.Format ":date_medium" }} </span>
                {{ with .Params.updated_at }}
                    <span
                        >(<span>Updated: </span>
                        {{ . | time.Format ":date_medium" }})</span
                    >
                {{ end }}
            </div>
        </div>
        <div class="full-width-gridless content-grid row-start-2 row-end-[-1]">
            {{ .Content | safeHTML }}
        </div>
    </div>
{{ end }}
